<div class="text-blue-200 bg-primary flex justify-between px-8 py-4">
    <div class="menu-header">
        <i class="hover:text-white fas fa-bars icon"></i>
    </div>
    <div class="search-header">
        <i class="hover:text-white fas fa-search icon"></i>
        <input class="hidden" type="text">
    </div>
    <div class="car-header">
        <i class="hover:text-white fas fa-shopping-cart icon"></i>
    </div>
    <div class="user-header">
        <i routerLink="/login" class="hover:text-white fas fa-user icon"></i>
    </div>
</div>