<div class="bg-white sticky z-10 top-0 uppercase head-font font-bold mt-4 pb-4 shadow">
    <div>
        <div class="text-center">
            <a href="#">ZEDRESS</a>
        </div>

        <div class="text-center flex space-around text-gray-600">
            <div class="px-16 flex-initial">
                <i class="fas fa-bars"></i>
            </div>
            <div class="flex-auto">
                <input class="shadow appearance-none border rounded w-full px-3 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Buscar">
            </div>
            <div class="px-8 flex-initial">
                <a routerLink="/login"><i class="fas fa-user"></i></a>
                <a href=""><i class="far fa-heart"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>