<!-- component -->
<div class="font-mono">
    <!-- Container -->
    <div class="container mx-auto">
        <div class="flex justify-center px-6 my-12">
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                <!-- Col -->
                <div
                    class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg shadow-xl relative"
                    style="background-image: url('{{ imagen }}')">

                    <input *ngIf="!imagen" [(ngModel)]="imagen" type="file" multiple class="cursor-pointer relative block opacity-0 w-full h-full p-20 z-50">
                    <div *ngIf="!imagen" class="text-center p-10 absolute top-0 right-0 left-0 m-auto">
                        <h4>
                            Arrastra una imagen para subirla
                            <br/>o
                        </h4>
                        <p class="">Selecciona una</p>
                    </div>
                </div>
                <!-- Col -->
                <div class="w-full lg:w-1/2 bg-white p-5 shadow-xl rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Nuevo Banner</h3>
                    <form [formGroup]="newBannerForm" class="px-8 pt-6 pb-8 mb-4 rounded">
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700">
                                Titulo
                            </label>
                            <input
                                formControlName="Title"
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                type="text"
                            />
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700">
                                Subtitulo
                            </label>
                            <input
                                formControlName="Subtitle"
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                type="text"
                            />
                        </div>
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                                type="button"
                            >
                                Agregar
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>